html {
  height: 100%;
  user-select: none;
  overscroll-behavior-x: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  overscroll-behavior-x: none;
}
@media (min-width: 1000px) {
  body {
    height: 100%;
  }
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Color scheme
#282c34

#1D4E89
#00B2CA
#7DCFB6
#FBD1A2
#F79256

*/